<div class="mat-elevation-z8">

  <table mat-table [dataSource]="estacionamento">
    <!-- Position Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef>Placa</th>
      <td mat-cell *matCellDef="let element">{{ element.placa }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dataEntrada">
      <th mat-header-cell *matHeaderCellDef>Data Entrada</th>
      <td mat-cell *matCellDef="let element">{{ element.dataEntrada}}</td>
    </ng-container>

    <ng-container matColumnDef="dataSaida">
      <th mat-header-cell *matHeaderCellDef>Data Saída</th>
      <td mat-cell *matCellDef="let element">{{ element.dataSaida }}</td>
    </ng-container>

    <ng-container matColumnDef="duracao">
      <th mat-header-cell *matHeaderCellDef>Duração</th>
      <td mat-cell *matCellDef="let element">{{element.duracao}}
      </td>
    </ng-container>
    <ng-container matColumnDef="tempoCobrado">
      <th mat-header-cell *matHeaderCellDef>Tempo Cobrado</th>
      <td mat-cell *matCellDef="let element">{{ element.tempoCobrado}}</td>
    </ng-container>
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef>Valor Cobrado</th>
      <td mat-cell *matCellDef="let element">{{ "R$" + element.preco}}</td>
    </ng-container>
    <ng-container matColumnDef="valorTotal">
      <th mat-header-cell *matHeaderCellDef>Valor Total</th>
      <td mat-cell *matCellDef="let element">{{ element.valorTotal }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>
<div class="buttons">
  <button mat-button (click)="openDialogEntrada()">Marcar Entrada</button>
  <button mat-button (click)="openDialogSaida()">Marcar Saida</button>
  <button mat-button (click)="openDialogPrecos()">Preços</button>
</div>
